{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' type="text/css" href="{% static 'css/home_style.css' %}" >
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/add_staff/">Add new staff </a>
  <a href="/add_hospital/">Add new Hospital </a>
  <a href="/blood_storage/">Storage </a>
  <a href="/approve_req/">Approve</a>
  <a href="/admin_login/">logout</a>


</div>


<div class="login-page">
  <div class="form">
  <h2>Add New Staff</h2>

    <form action="/add_staff/" method="post" >
      {% csrf_token %}
      <input type="text" placeholder="FNAME" name="fname">
      <input type="text" placeholder="LNAME" name="lname">
      <input type="text" placeholder="PASSWORD" name="password">
      <input type="text" placeholder="PHONE NUMBER" name="phone">
      <input type="text" placeholder="EMPLOYEE ID" name="emp_id">

      <input type="text" placeholder="HOUSENAME" name="housename">
      <input type="text" placeholder="STREET NAME" name="streetname">
      <input type="number" placeholder="PIN" name="pin">

      <button name="submit">ADD</button>

    </form>

</div>
</div>


</body>
</html>
