<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="home_style.css">
</head>
<body>

<div class="topnav">
  <a  href="admin_home.html">Home</a>
  <a class="active" href="#">Add new staff </a>
  <a href="add_hos.html">Add new Hospital </a>
  <a href="#">Storage </a>
  <a href="#"><i class="fa fa-fw fa-envelope"></i> </a>
  <a href="admin_login.html">logout</a>
  

</div>


<div class="login-page">
  <div class="form">
  <h2>ADD NEW STAFF</h2>
 
    <form action=# method="post" >
      <input type="text" placeholder="NAME" name="name">
      <input type="text" placeholder="PASSWORD" name="password">
      <input type="text" placeholder="PHONE NUMBER" name="phone">
  
      <button name="submit">ADD</button>
      
    </form>
   
</div>
</div>
   

</body>
</html>