{% load static %}
<html>
<head>
    <link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}" >
</head>
<body>
    <h2>ADMIN LOGIN</h2>
<div class="login-page">
    <div class="form">


      <form method="POST" action="/admin_login/">
        {% csrf_token %}
        <input type="text" placeholder="Admin Id" name="username">
        <input type="password" placeholder="Password" name="password">
        <button name="submit">LOGIN</button>


      </form>

  </div>
  </div>
  </body>
  </html>
