{% load static %}
<html>
<head>
    <link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}" >
</head>
<body>
    <h2>DONOR REGISTRATION</h2>
<div class="login-page">
    <div class="form">


      <form method="POST" action="/donor_reg/">
        {% csrf_token %}
        <input type="text" placeholder="Fisrt Name" name="fname">
        <input type="text" placeholder="Last Name" name="lname">
        <input type="text" placeholder="Age" name="age">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="User Name" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Confirm Password" name="c_password">
        <input type="text" placeholder="Phone" name="phone">
        <input type="text" placeholder="Blood Type" name="blood">
        <input type="text" placeholder="Rh Factor" name="rh">
        <input type="text" placeholder="House Name" name="house">
        <input type="text" placeholder="Street Name" name="street">
        <input type="text" placeholder="Pin" name="pin">
        <input type="text" placeholder="Aadhar Number" name="aadhar">
        GENDER:<br>
        <label for="MALE">Male</label>
        <input type="radio" id="MALE" name="gender" value='male'>

        <label for="FEMALE">Female</label>
        <input type="radio" id="FEMALE" name="gender" value='female'>
        <label for="NILL">Prefer not to disclose</label>
        <input type="radio" id="NILL" name="gender" value='NILL'>
        <button name="submit">REGISTER</button>

        <p class="message">Already registered? <a href="/donor_login/">Login</a></p>
      </form>

  </div>
  </div>
  </body>
  </html>
