{% load static %}
<html>
<head>
    <link rel="stylesheet" a href="style.css"/>
</head>
<body>
    <h2>DONOR LOGIN</h2>
<div class="login-page">
    <div class="form">


      <form method="POST" action="">
        <input type="text" placeholder="EMAIL" name="email">
        <input type="password" placeholder="password" name="password">
        <button name="submit">LOGIN</button>

        <p class="message">Not registered? <a href="donor_reg.html">Create an account</a></p>
      </form>

  </div>
  </div>
  </body>
  </html>
