{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="home_style.css">
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#"><i class="fa fa-fw fa-envelope"></i> </a>
  <a href="hos_login.html">logout</a>


</div>

<div style="padding-left:16px">

</div>
<table class="table1">
  <tr>
    <td>

      <h1>HELLO<br><br> WELCOME</h1>

    </td>
    <td>
<div class="login-page">
  <div class="form">
  <h2>REQUEST BLOOD</h2>

    <form action=# method="post" >
      <input type="text" placeholder="BLOOD GROUP" name="b_group">
      <input type="text" placeholder="Rh FACTOR" name="rh">
      <input type="text" placeholder="AMOUNT" name="amount" >

      <button name="submit">REQUEST</button>

    </form>

</div>
</div>
    </td>
    <td>
        <div class="login-page">
            <div class="form">
            <h2>DONATE BLOOD</h2>

              <form action=# method="post" >
                <input type="text" placeholder="BLOOD GROUP" name="b_group">
                <input type="text" placeholder="Rh FACTOR" name="rh">
                <input type="text" placeholder="AMOUNT" name="amount" >

                <button name="submit">DONATE</button>

              </form>

          </div>
          </div>
    </td>

</tr>

</body>
</html>
