{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}" >

</head>
<body>

    <h2>LOGIN AS</h2>
  <div class="login-page">
        <div class="form">

            <p><a href="/donor_login/">
                <button>DONOR</button>
            </a>
        </p>
            <p>
            <a href="/hos_login/">
                <button>HOSPITAL</button>
            </a>
            </p>
            <p>
            <a href="/staff_login/">
                <button>STAFF</button>
            </a>
            </p>
            <p class="message">Not registered? <a href="/donor_reg/">Create an account</a></p>



      </div>
      </div>
  <center><p style="color:#8a0303 ;"><b><q>BE THE ONE WHO SAVES A LIFE</q></b></p>
  <img src="{% static 'img/image.png' %}" alt="My image"width="300" height="200"></center>

</body>
</html>
