<html>
<head>
    <link rel="stylesheet" a href="style.css"/>
</head>
<body>

    <h2>LOGIN AS</h2>
<div class="login-page">
    <div class="form">
    
        <p><a href="donor_login.html">
            <button>DONOR</button>
        </a>
    </p>
        <p>
        <a href="hos_login.html">
            <button>HOSPITAL</button>
        </a>
        </p>
        <p>
        <a href="staff_login.html">
            <button>STAFF</button>
        </a>
        </p>
        <p class="message">Not registered? <a href="donor_reg.php">Create an account</a></p>
        
      
    
  </div>
  </div>
  <center><p style="color:#8a0303 ;"><b><q>BE THE ONE WHO SAVES A LIFE</q></b></p>
  <img src="image.png" width="300" height="200"></center>
  </body>
  </html>